@model ams.Models.Invoice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<link href="~/Content/css/Create.css" rel="stylesheet"/>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Invoice</legend>

    <div class="col-md-12">
            <div class="col-md-4">
         @Html.DisplayNameFor(model => model.Date)
        @Html.DisplayFor(model => model.Date,new { @class="form-control", @type="Date" })
    </div>
	</div>
	
    <div class="col-md-12">
            <div class="col-md-4">
         @Html.DisplayNameFor(model => model.Cus.Name)
        @Html.DisplayFor(model => model.Cus.Name, new { @class="form-control", @name="cus_id", @id="cus_id" })
    </div>
	</div>

    <div class="col-md-12">
            <div class="col-md-4">
         @Html.DisplayNameFor(model => model.BillNo)
        @Html.DisplayFor(model => model.BillNo)
    </div>
	</div>

    @{
	var db = new ams.Models.AMSDBContext();
    var lst = (from s in db.InvoicesDetails.Select(s => s)
                            .Where(s => s.Invid == Model.InvoiceID)
                            select new {s}).ToList();            
        }

        <div class="col-md-12">
            <table class="table table-bordered" id="table1">
                <tr class="tbl-header">
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
                @foreach (var item in lst)
                {
                    <tr id="@item.s.Id">
                        <td><span>@item.s.Item</span></td>
                        <td class="col-md-2">
                            <span>@item.s.Price</span>
                        </td>
                        <td>
                            <span>@item.s.Quantity</span>
                        </td>
                        <td>
                            <span>@item.s.Total</span>
                        </td>
                    </tr>                    
                }
            </table>
        </div>
	
	
   <div class="col-md-12">
            <div class="col-md-4">
         @Html.DisplayNameFor(model => model.GAmount)
        @Html.DisplayFor(model => model.GAmount,new { @class="form-control"})
    </div>
	</div>

    <div class="col-md-12">
            <div class="col-md-4">
         @Html.DisplayNameFor(model => model.Received)
        @Html.DisplayFor(model => model.Received,new { @class="form-control"})
   </div>
	</div>

 <div class="col-md-12">
            <div class="col-md-4">
         @Html.DisplayNameFor(model => model.Balance)
        @Html.DisplayFor(model => model.Balance,new { @class="form-control"})
    </div>
	</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
