@model ams.Models.User

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password for @Html.DisplayFor(model => model.Username)</h2>
<hr />

<fieldset>
    <div class="display-label">
         Old Password
    </div>
    <div class="display-field">
        @Html.TextBox("old-pw", null, new { type="password", Id="old-pw" })<br />
        <span id="old-pw-alert" style="display:none;color:red;"></span>
    </div>
    <div class="display-label">
         New Password
    </div>
    <div class="display-field">
        @Html.TextBox("new-pw", null, new { type="password", Id="new-pw" })<br />
        <span id="new-pw-alert" style="display:none;color:red;"></span>
    </div>
    <div class="display-label">
         Retype Password
    </div>
    <div class="display-field">
        @Html.TextBox("new-pw-2", null, new { type="password", Id="new-pw-2" })<br />
        <span id="new-pw-2-alert" style="display:none;color:red;"></span>
    </div>
</fieldset>
<p>
    <button id="submit-pw">Change Password</button>
    <span id="ajax-response" style="color:grey;display:none;"></span>
</p>
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function ()
        {
            $('#submit-pw').click(function (e)
            {
                if ($('#old-pw').val() == '' || $('#new-pw').val() == '' || $('#new-pw-2').val() == '' || ($('#new-pw').val() != $('#new-pw-2').val()))
                {
                    e.preventDefault();
                    if ($.trim( $('#old-pw').val()) == '') {
                        $('#old-pw-alert').text("This Field is Required!");
                        $('#old-pw-alert').fadeIn(400, function () {
                            setTimeout(function () { $('#old-pw-alert').fadeOut(); }, 1000);
                        });
                    }
                    if ($.trim($('#new-pw').val()) == '') {
                        $('#new-pw-alert').text("This Field is Required!");
                        $('#new-pw-alert').fadeIn(400, function () {
                            setTimeout(function () { $('#new-pw-alert').fadeOut(); }, 1000);
                        });
                    }
                    if ($.trim($('#new-pw-2').val()) == '') {
                        $('#new-pw-2-alert').text("This Field is Required!");
                        $('#new-pw-2-alert').fadeIn(400, function () {
                            setTimeout(function () { $('#new-pw-2-alert').fadeOut(); }, 1000);
                        });
                    }
                    if ($('#new-pw').val() != $('#new-pw-2').val()) {
                        $('#new-pw-2-alert').text("Passwords donot match!");
                        $('#new-pw-2-alert').fadeIn(400, function () {
                            setTimeout(function () { $('#new-pw-2-alert').fadeOut(); }, 1000);
                        });
                    }
                    return false;
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Content("~/Users/Change")",
                        data: {
                            pwo : $('#old-pw').val(),
                            pwn: $('#new-pw-2').val()
                        },
                        success: function (data) {
                            switch (data) {
                                case "Y":
                                    $('#ajax-response').text("Password Has Been Changed Successfully!");
                                    $('#ajax-response').show();
                                    setTimeout(function () { window.location.replace( "@Url.Content("~/Customer")" ); }, 1000);
                                    break;
                                case "N":
                                    $('#ajax-response').text("Incorrect Old Password!");
                                    $('#ajax-response').fadeIn(400, function () {
                                        setTimeout(function () { $('#ajax-response').fadeOut(); }, 1000);
                                    });
                                    break;
                                default:
                                    $('#ajax-response').text("Unknown Error Occured, Please Contact the Software Provider!");
                                    $('#ajax-response').show();
                                    break;
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(thrownError + ' ' + xhr.status);
                        }
                    });
                }
            });
        });
    </script>
}