@model ams.Models.Customer

@{
    ViewBag.Title = "Edit Customer";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Customer</legend>

        @Html.HiddenFor(model => model.CustomerID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            <label>Contact #1</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact)
            @Html.ValidationMessageFor(model => model.Contact)
        </div>

        <div class="editor-label">
            <label>Contact #2</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact1)
            @Html.ValidationMessageFor(model => model.Contact1)
        </div>

        <div class="editor-label">
            <label>Contact #3</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact2)
            @Html.ValidationMessageFor(model => model.Contact2)
        </div>

        <div class="editor-label">
            <label>Contact #4</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Contact3)
            @Html.ValidationMessageFor(model => model.Contact3)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AlertStatus)
        </div>
        <div class="editor-field">
            @Html.DropDownList("AlertStatus", new List<SelectListItem>{
                new SelectListItem{ Text="On", Value = "1" },
                new SelectListItem{ Text="Off", Value = "0" }
             }) 
        </div>

        <div class="editor-label">
            <label>Alert Days</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AlertDays)
            @Html.ValidationMessageFor(model => model.AlertDays)
        </div>
        
        <div class="editor-label">
            <label>Opening Balance</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OpeningBalance)
            @Html.ValidationMessageFor(model => model.OpeningBalance)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
